body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: linear-gradient(270deg, #889df3, #1b58f3);
  color: #f2f2f3;
  animation: waveBG 10s ease infinite;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  background-color: #2a2a2e;
  color: #f2f2f3;
  padding: 1rem 2rem;
  text-align: center;
}

.logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f2f2f3;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.logo::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background: #305ec9;
  margin: 0.3rem auto 0 auto;
  border-radius: 2px;
}


@keyframes slideFade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.anim-logo {
  animation: slideFade 1s ease-out forwards;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 1.2rem;
  margin: 0;
}

nav a {
  color: #f2f2f3;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #295deb;
}

#menu-toggle,
.menu-icon {
  display: none;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
}

.hero h1 {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}


.btn-diagnostico {
  display: inline-block;
  margin-top: 10px;
  padding: 14px 28px;
  background:#2563eb;
  color:  #fff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 30px;
}

.btn-diagnostico:hover {
  background-color: #8ca8f5;
  color: #fff;
  transform: scale(1.05);
}


section {
  padding: 3rem 2rem;
}

section h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #2563eb;
  margin-bottom: 1.5rem;
}

#sobremi {
  background-color: #f2f2f3;
  color: #2a2a2e;
  padding: 3rem 2rem;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
  margin: 0 auto 4rem auto;
}

.sobre-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap; 
}

.sobre-img {
  flex: 1;
  text-align: center;
}

.perfil-img {
  width: 310px;  
  height: 410px;  
  border-radius: 10%; 
  object-fit: cover; 
  box-shadow: 0 0 15px rgba(150, 128, 128, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobre-texto {
  flex: 1.7;
  line-height: 1.7;
  font-size: 1.1rem;
  text-align: justify;
}

.sobre-texto h2 {
  color: #305ec9;
  font-size: 2rem;
  margin-bottom: 0.6rem;
}


@media (max-width: 768px) {
  .sobre-container {
    flex-direction: column;
    text-align: center;
  }

  .sobre-texto {
    text-align: justify;
    font-size: 1rem;
  }
}


.servicios-section {
  background-color: #f2f2f3;
  color: #2a2a2e;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.Evaluación {
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color:black #305ec9;
}


.servicio-box {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicio-box:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.servicio-box h3 {
  color: #305ec9;
  text-align: center;
  margin-bottom: 1rem;
}

.servicio-box ul {
  padding-left: 1.2rem;
  margin: 1rem 0 0;
}

.servicio-box li {
  margin-bottom: 0.6rem;
  line-height: 1.5;
}


#contacto {
  background-color: #2a2a2e;
  color: #f2f2f3;
  text-align: center;
  padding: 3rem 2rem;
}

.social a {
  font-size: 1.8rem;
  margin: 0 0.6rem;
  color: #f2f2f3;
  transition: color 0.3s ease, transform 0.2s ease;
}

.social a:hover {
  color: #8ca8f5;
  transform: scale(1.1);
}

footer {
  background-color: #305ec9;
  color: white;
  text-align: center;
  padding: 1rem;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }
  
  .hero p {
    font-size: 1rem;
  }

  .servicios-grid {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .logo {
    margin-bottom: 0.5rem;
  }
}
